<table class="table table-striped">
    <thead>
        <tr>
            <th width="50"></th>
            <th>Assessment name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let assessment of data" >
            <td><input type="checkbox" [checked]="assessment.complete" (change)="changeStatus(assessment.id)" /></td>
            <td><app-assessment [assessment]="assessment"></app-assessment></td>
            <td>
                <ng-container *ngIf="!assessment.complete">
                    <button type="button" class="btn btn-sm btn-outline-info" (click)="edit(assessment.id)"><i class="fa fa-pencil"></i></button>
                    <button type="button" class="btn btn-sm btn-danger" (click)="delete(assessment.id)"><i class="fa fa-trash"></i></button>
                </ng-container>
            </td>
        </tr>
    </tbody>
</table>

